*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

.search{
    height: 40%;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

#query{
    width: 600px;
    height: 45px;
    background: none;
    border: none;
    border-bottom: 1px solid rgb(59, 62, 66);
    color: white;
    font-size: 18px;
    text-align: center;
}
#btn{
    width: 100px;
    height: 45px;
    background-color: rgb(59, 62, 66);
    border: none;
    color: white;
    margin: 0 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease;
}

#btn:hover{
    background-color: white;
    color: black;
}

.result{
    background-color: rgb(59, 62, 66);
    display: flex;
    height: 60%;
    overflow: auto;
}

#poster{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#info{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img{
    transform: scale(0.7);
    box-shadow: 5px 5px 12px black;
}

p{
    font-size: 18px;
    color: white;
    width: 600px;
    line-height: 28px;
}

i{
    font-size: 70px;
    color: white;
}
span{
    font-size: 18px;
    color: white;
}